/* import fonts */
@import url(http://fonts.googleapis.com/css?family=Euphoria+Script);



body {
	background-image: url(../images/zengardenbig.jpg);
	background-repeat: no-repeat;
	background-height: 50px;
}
#navigation {
	height: 70px;
	widows: 100%;
	box-shadow: 70px 0 40px black;
	background-color: rgb(30,30,30);
}
.bio {
	margin: 30px;
	font-size: 20px;
	background-color: rgba(255,255,255, .59);
	padding: 20px;
	color: black;
	border-radius: 10px;
	font-weight: bold;
	text-indent: 4em;
}
#navigation .main {
	background-color: rgba(0,0,220, 1.0);
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 19px;
	margin-top: 10px;
	margin-right: 20px;
}
.title {
	font-family: "Euphoria Script";
	font-size: 90px;
}
.images {
	height: 600px;
	margin: 10px auto;
	overflow: scroll;
	width: 600px;
	border: 2px solid black;
}
.logo h1 {
	font-family: "Euphoria Script";
	font-size: 100px;
	color: rgb(10,10,10);
	margin: 25px auto;
	width: 525px;
}
#main-slider {
	width: 60%;
	height: 500px;
	margin: 20px auto;
	padding: 10px;
	border:2px solid black;
}