/* import fonts */
@import url(http://fonts.googleapis.com/css?family=Euphoria+Script);



body {
	background-image: url(../images/zengardenbig.jpg);
	background-repeat: no-repeat;
	background-height: 50px;
}
.contact-form {
	text-align: center;
	top: 100px;
	position: relative;
}
.view-gallery {
	position: relative;
	top: 15px;
	background-color: green;
	border: 0;
	left: 10px;
}
.view-gallery:hover {
	background-color: green;
}
.spacer {
	height: 50px;
	width: 100%;
}
.side-logo {
	font-family: "Euphoria Script";
	color: white;
	font-size: 40px;
	margin: 10px;
}
#navigation {
	position: fixed;
	top: 0;
	height: 70px;
	width: 100%;
	box-shadow: 70px 0 40px black;
	background-color: rgb(30,30,30);
}
.bio {
	margin: 0 30px 50px 30px;
	font-size: 20px;
	background-color: rgba(240,240,240, .7);
	padding: 30px;
	color: black;
	border-radius: 10px;
	font-weight: bold;
	text-indent: 4em;
}
.nav .caret {
	border-top-color:black;
	border-bottom-color:black;
}
#navigation .main {
	width: 100px;
	background-color: rgba(0,160,20, 1.0);
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 19px;
	margin-top: 10px;
	margin-right: 20px;
}
.images {
	height: 600px;
	margin: 0 auto;
	overflow: scroll;
	width: 600px;
	border: 2px solid black;
}
.logo h1 {
	font-family: "Euphoria Script";
	font-size: 100px;
	color: rgb(10,10,10);
	text-align: center;
}
.footer {
	position: static;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: black;
	height: 30px;
	color: white;
	padding-top: 4px;
}
.footer-special {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: black;
	height: 30px;
	color: white;
	padding-top: 4px;
}




